:root {
  --white: #E3EDE8;
  --black: #0F1F17;
  --green-dark: #1F382C;
  --green-mid: #1B784C;
  --green-accent: #39AF6A;
  --green-light: rgba(136, 210, 173, .25);
  --yellow: #FFB833;
  --red: #DE3A2F;
  --red-dark: #702A26;

  --green-dark-75: rgba(31, 56, 44, .85);
  --yellow-20: rgba(255, 160, 7, .2);
  --black-20: rgba(15, 31, 23, .2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--green-dark);
  background-image: url("../images/bg-elem.svg"), url("../images/bg-elem.svg");
  background-size:88px 128px;
  background-position: 0 0, 44px 64px;
  background-repeat: repeat;

  color: var(--white);

  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;

  position: relative;
}

body {
  background: linear-gradient(to right, rgba(4, 14, 9, 0.4) 0%,rgba(30, 54, 43, 0.4) 33%, rgba(30, 54, 43, 0.4) 67%, rgba(4, 14, 9, 0.4) 100%);
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1, h2, h3, h4, h5, p, button {
  margin: 0;
  padding: 0;
  text-shadow: 2px 4px 1px rgba(6, 14, 10, 0.25);
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 1.75rem;
  text-align: center;
}

h4 {
  font-size: 3rem;
  text-align: center;
}

button {
  border: none;

  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}








/* =========================== MAIN CONTENT =========================== */


/* SLOT MACHINE */

#slot-machine {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: inline-flex;
  flex-direction: row;
  
  background-color: var(--black);
  padding: 2rem;
  border-radius: 32px;

  box-shadow: 24px 34px 16px rgba(15, 31, 23, .125);
}

#slot-inner {
  display: inline-flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;

  background-color: var(--green-mid);
  padding: 2.5rem 1.25rem;
  border-radius: 24px;

  box-shadow: 0px 4px 12px rgba(15, 31, 23, .125);
}

/* SLOT MACHINE COMPONENTS */

/* TITLE BAR COMPONENT */

#title-bar {
  width: 100%;

  background-color: var(--green-light);
  padding: .75rem 3rem;
  border-radius: 18px;
}

#title-container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;

  background-color: var(--green-dark-75);
  padding: 1rem 1.5rem;
  border-radius: 16px;

  white-space: nowrap;
}

.lights {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.light {
  height: 1.25rem;
  width: 1.25rem;

  background-color: var(--black);
  border-radius: .75rem;

  transition: .0625s;
}

.light-on {
  background-color: var(--yellow);
}

/* DISPLAY COMPONENT */

#display {
  display: flex;
  flex-direction: row;

  background-color: var(--green-dark);
  padding: 2.25rem;
  border-radius: 32px;

  box-shadow: inset 0px 4px 22px rgba(15, 31, 23, .25);
}

#display-container {
  display: flex;
  flex-direction: row;
  gap: 1px;

  /* Fixes height to, 3 cells (padding + img) + (2x gap) + (container padding) */
  height: calc(((4rem + 3.5rem) * 3) + (2px * 2) + (12px)); 
  overflow: hidden;

  background: radial-gradient(ellipse farthest-side at center, var(--green-mid) 0%, var(--black) 85%);
  border-radius: 12px;
  padding: 6px;

  box-shadow: 0px 4px 8px rgba(15, 31, 23, .25);
}

.display-column {
  display: flex;
  flex-direction: column;
  gap: 1px;
  bottom: 0;
}

.display-unit {
  display: flex;
  flex-direction: row;

  background-color: var(--black);
  padding: 1.75rem;
}

/* Cell Scoring depicts a cell that is being scored in a pattern */
.cell-scoring {
  display: flex;
  flex-direction: row;
  
  background-color: var(--black);
  background: radial-gradient(circle, var(--yellow-20) 0%, var(--black-20) 65%, var(--black) 100%);
  padding: 1.75rem;
}

.slot-icon {
  height: 4rem;
  width: 4rem;
  
  object-fit: cover;
}

/* SLOT INFO COMPONENTS */

#slot-info {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

#slot-number {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.info-panel {
  display: flex;
  flex-direction: column;

  background-color: var(--green-light);
  padding: .75rem 1.5rem .5rem 1.5rem;
  border-radius: 12px;
  gap: .65rem;
}

.score {
  display: flex;
  flex-direction: row;
  grid-column: 1 / -1;
  align-items: center;
  gap: 1.5rem;
}

.score h3 {
  text-align: left;
}

.score h4 {
  font-size: 3.75rem;
  letter-spacing: 1px;
  min-width: 13rem;
  overflow: hidden;
  text-overflow: clip;
}

.info-screen {
  width: 100%;

  background-color: var(--green-dark);
  padding: .75rem 3rem;
  border-radius: 8px;

  color: var(--yellow);
}

#play-button button {
  height: 100%;

  background-color: var(--red);
  border: none;
  border-radius: 12px;
  padding: 1.5rem;

  font-size: 4rem;
  letter-spacing: 2px;

  box-shadow: 0px 8px 1px var(--black-20);
  transition: .125s;
}

#play-button button:hover {
  background-color: var(--red-dark);
  cursor: pointer;

  box-shadow: 0px 0px 1px var(--black-20);
}
